@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700;900&family=Lora:ital@0;1&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#F9F1F5, #EDD4E0);
}

header{
    display: flex;
    justify-content: center;
    /* padding-top: 5vw; */
}

form{
    display: flex;
    flex-direction: row;
}

textarea{
    background-color: transparent;
    border: none;
    font-family: Lora, serif;
    font-size: 1.2rem;
    color: #5c5c5c;
    resize: none;
    width: 100%;    
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center ;
    min-height: 100vh;
}

.input-box{
    padding: 1vw;
    
}

.post-input{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
    background-color: transparent;
    border: none;
}

textarea:focus, .post-input:focus{
    outline: none;
}

#logo{
    margin-top: 2vw;
}

#submit-btn{
    border-radius: 35px;
    padding: 12px 25px;
    margin-top: 1vw;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: transparent;
    border: 2px solid #5c5c5c;
    color: #5c5c5c;
    transition: 0.8s;
}

#submit-btn:hover{
    background-color: #5c5c5c;
    color: white;
}
